<% @stories.each do |story| %>
	
	<div class='col-md-4'>
		<div class="message">
			<h2 class="message-title"><%= story.title %></h2>
			<%= link_to "Show Story", story_path(story), class: "btn-custom" %>
		</div>
	</div>
<% end %>
